<section class="logisticsection"> 
    <div class="container">
        <h2>Logistic Regression Algorithm</h2>
        <p>
            Logistic regression is one of the most popular Machine Learning algorithms, which comes under the Supervised Learning technique. It is used for predicting the categorical dependent variable using a given set of independent variables.  </p>
    </div>
    <div class="container">
        <h4>Logistic Regression Classification using Scikit-learn</h4>
        <p>Generate a model using Logistic Regression algorithm and create LogisticRegression classifier
            by default as follow:
        </p>
        <img src="assets/images/lrbydefault.jpg">
        <br>
            <p>Plot confusion matrix of the Logistic Regression model training:</p>
            <img src="assets/images/confmatrixLR.jpg">
            <br>
            </div>
        <div class="container">
            <p>To use the training model in our application we need to save it in the disk 
                then load it on the flask application using the library "joblib" </p>
            <img src="assets/images/savedlrmodel.jpg">
        <br>
       

    </div>
    <!--
         <p>Here we want to achieve maximum accuracy . However, there are additional
            hyperparameters available.Therefore, we will change some of it for better results.</p>
            <div class="container">
        <h4>logistic regression Optimization </h4>
        <p>In the case of logistic regression, a local search optimization algorithm is commonly used.
            That is, we can define a regression model and use a given optimization algorithm to find a set
             of coefficients 
            for the model that result in a minimum of prediction error or a maximum of classification accuracy.
            </p>
        <p>We will implement LogisticRegression classifier with optimization touching the hyperparameter
            "C" which is the regularization (C=1.0 by default)and the confusion matrix (defined in the NB page)
            as bellow then evaluate the resualt: </p>

        <img src="assets/images/lropt.jpg">
        <br>
        <br>
        <p> To conclude, we found that the optimization gives us a higher accuracy of 0.05 (0.63 -> 0.68)
        </p>
    </div>-->
</section>