<div class="about-section mt-5">
  <div class="container">
  <div class="row mb-2">
    <div class="col-12">
      <h2 class="text-center">
        A Tunisian web platform for Politic Speech Representation, Analysis and Discovery
      </h2>
      <p class="desc1">
        This end of studies project entitled "A Tunisian web platform for Politic Speech Representation, Analysis and Discovery", is carried out within the organization CRNS Sfax. The aim of this project is to gathering a Tunisian Textual Data from the pages of social media Facebook, then analyzing the text on Arabic language and implementing a machine learning model with the different algorithms: Naïve Bays, Logistic Regression, Random Forest 
        and LSTM for deep learning and finally, hosting those models on a Flask and Angular Web Platform.  </p>
    </div>
    </div>
    </div>
    <div class="bg-gray text-white">
    <div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="col-12 text-center">
        
        <img  class="image-responsive rounded-img"src="/assets/images/safadah.jpg">
        <h4>Safa Dahmouni</h4>
      </div>
    </div>
    <div class="col-md-6">
      <p class="desc" class="text-center">
        This end-of-study project aims to obtain my engineering degree in computer science specializing in software engineering.
        you can contact me by phone or email ,also you find attached my linkedin profile
    </div>
  </div>
 </div>
  
</div>
</div>
<div class="contact-section">
  <div class="contact-info">

    <div><i class="fas fa-envelope"></i>dahmounisafa3@gmail.com</div>
    <div><i class="fas fa-phone"></i>+216 55 099 133</div>
    <div><i class="fas fa-clock"></i>
      <a href="https://www.linkedin.com/in/safa-dahmouni-482b01172/" class="profile-link" target="_blank">
        My Profile
        <img src="/assets/images/linkedin.png">
      </a>
    </div>
  </div>
  <div class="contact-form">
    <h2>Contact Us</h2>
    <form class="contact" action="" method="post">
      <input type="text" name="name" class="text-box" placeholder="Your Name" required>
      <input type="email" name="email" class="text-box" placeholder="Your Email" required>
      <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
      <input type="submit" name="submit" class="send-btn" value="Send">
    </form>
  </div>
</div>