<section class="sectionapp">
    <div class="container">
        <h1>Application</h1>
        <p>
            There we go! Our applications is up and running. Here, you can predict your Tunisian 
            politician  with choosing the ML algorithm (NB, SVM, Random Forest, Logistic Regression
            or LSTM) and giving an arabic political speech from Facebook 
        </p>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form text-center  form-horizontal">
                            <label class="mb-3">Try the application</label>
                            
                            <div class="input-group mb-3">
                            <select placeholder="algorithm" class="form-control" [(ngModel)]="algorithm" value="">
                                
                                <option value="nb">
                                    NB
                                </option>
                                <option value="svm">
                                    SVM
                                </option>
                                <option value="rf">
                                    RF
                                </option>
                                <option value="lr">
                                    LR
                                </option>
                                <option value="lstm">
                                    LSTM
                                </option>
                            </select>
                            </div>
                            <div class="input-group mb-3">
            
                                <input type="text" [(ngModel)]="text" class="form-control" placeholder="enter your text">
                                
                                <button type="submit" class="btn btn--outlint-light ml-40" (click)="send()">
                                    <fa-icon [icon]="fapaper"></fa-icon>
                                    <!-- <fa name="paper-plane"></fa> -->
                                    <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card card-light" *ngIf="showresult">
                    <div class="card-body">
                        
                        influence :  {{result.influence}} 
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>