<section class="sectionapp">
    <div class="container">
        <h1>application</h1>
        <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret.
            Mazim
            nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
            Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
            invenire.</p>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form class="form text-center  form-horizontal">
                            <label class="mb-3">Try the application</label>
                           
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="enter your text">
                                <button type="submit" class="btn btn--outlint-light ml-40">
                                    <fa-icon [icon]="fapaper"></fa-icon>
                                    <!-- <fa name="paper-plane"></fa> -->
                                    <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>