<section class="naivesection"> 
    <div class="container">
        <h2>Naive Bayes Alogrithm</h2>
        <p>
            Naïve Bayes algorithm is a supervised learning algorithm, which is based on Bayes theorem and used for solving classification problems.
            It is mainly used in text classification that includes a high-dimensional training dataset.
            Naïve Bayes Classifier is one of the simple and most effective Classification algorithms which helps in building the fast machine learning models that can make quick predictions.  </p>
    </div>
</section>