<section class="svmsection">
    <div class="container">
        <h2>Support Vector Machine Alogrithm</h2>
         <p>
            “Support Vector Machine” (SVM) is a supervised machine learning algorithm.
            However, it is mostly used in classification problems. In the SVM algorithm,
            we plot each data item as a point in n-dimensional space (where n is a number of features you have) with the
            value of each feature being the value of a particular coordinate. Then, we perform classification by finding
            the hyper-plane that differentiates the two classes very well.
        </p>
    </div>
</section>