
<section>
  <div class="container">
    <h2>Intro</h2>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
      invenire.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Data Visualisation</h2>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
      invenire.</p>
  </div>
  <div class="container" style="padding:5vh">
    <div class="">
      <h4>Data Visualisation</h4>
      <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret.
        Mazim
        nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
        Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
        invenire.</p>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card mb-3">
          <div class="card-body">
            <app-percentage-pie></app-percentage-pie>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="card mb-3">
          <div class="card-body">
            <app-chatspie></app-chatspie>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h4>Data Visualisation</h4>
      <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret.
        Mazim
        nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
        Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
        invenire.</p>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <app-chartsbar></app-chartsbar>
      </div>
    </div>
    <div class="">
      <h4>Data Visualisation</h4>
      <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret.
        Mazim
        nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
        Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
        invenire.</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Machine Learning</h2>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
      invenire.</p>
  </div>
  <div class="container" style="padding:5vh">
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Naive Bayes (NB)</h4>
              <a class="btn btn-secondary" routerLink="/naivebayes" routerLinkActive="router-link-active" > more infos</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Random Forest</h4>
              <a class="btn btn-secondary" routerLink="/randomforest"> more infos</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">

            <div class="text-center">

              <h4>Logistic Regression</h4>
              <a class="btn btn-secondary" routerLink="/logisticregression"> more infos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Support Vector Machine (SVM)</h4>
              <a class="btn btn-secondary" routerLink="/svm" > more infos</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Long Short-Term Memory (LSTM)</h4>
              <a class="btn btn-secondary" routerLink="/lstm"> more infos</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Evaluation</h4>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian</p>
    <div class="table-responsive">
      <table class="table table-hover  table-striped">
        <thead>
          <tr class="table-dark">
            <th>Algo</th>
            <th>Accuracy</th>
            <th>Error rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              NB
            </td>
            <td>
              0
            </td>
            <td>
              0
            </td>
          </tr>
          <tr>
            <td>
              SVM
            </td>
            <td>
              0
            </td>
            <td>
              0
            </td>
          </tr>
          <tr>
            <td>
              Logictic Regression
            </td>
            <td>
0
            </td>
            <td>
0
            </td>
          </tr>
          <tr>
            <td>
              Rondom Forest
            </td>
            <td>
0
            </td>
            <td>
0
            </td>
          </tr>
          <tr>
            <td>
              LSTM
            </td>
            <td>
0
            </td>
            <td>
0
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card mb-3">
      <h4>comparation</h4>
      <app-comparisationbar></app-comparisationbar>
      <p>description comparisation  
        m ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocib
      </p>
    </div>
    <div class="">
      <h4>Topic Modeling</h4>
      <p>description 
        m ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocib </p>

    </div>
  
   </div>










</section>
<section>
  <div class="container">
    <h2>Conclusion</h2>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
      invenire.</p>
  </div>
</section>