
<section>
  <div class="container">
    <h2>Introduction</h2>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
      invenire.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Data Visualisation</h2>
    <p>Data visualization is the representation of data or information in a graph, chart, 
      or other visual format. It helps people understand the significance of data by summarizing
       and presenting huge amount of data in a simple and easy-to-understand format and helps 
      communicate information clearly and effectively.</p>
  </div>
  <div class="container" style="padding:5vh">
    <div class="">
      <h4>Pie chart Visualisation</h4>
      <p>A pie chart is data visualization that displays values as slices of a pie, 
        sized by their percentage of the total.To better understanding our data 
        we plot two  pie charts. In the output, we can see the distribution of speeches per person  in the first one
        and the distribution of the influence in the dataset for each politician in the second.
    
      </p>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card mb-3">
          <div class="card-body">
            <app-percentage-pie></app-percentage-pie>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="card mb-3">
          <div class="card-body">
            <app-chatspie></app-chatspie>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h4> Bar chart Visualisation</h4>
      <p>A bar chart is used when we want to show a distribution of data points
        or perform a comparison of metric values across different subgroups of our data. 
       From a bar chart, we can see which groups are highest or most common.here, we plot a bar chart
        to see the distribution of speeches for each person.
      </p>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <app-chartsbar></app-chartsbar>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Machine Learning</h2>
    <p>Machine learning is an important component of the growing field of data science. 
      Through the use of statistical methods, algorithms are trained to make classifications or predictions,
       uncovering key insights within data mining projects. These insights subsequently
       drive decision making within applications and businesses, ideally impacting key growth metrics. </p>
  </div>
  <div class="container" style="padding:5vh">
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Naive Bayes (NB)</h4>
              <a class="btn btn-secondary" routerLink="/naivebayes" routerLinkActive="router-link-active" > more infos</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Random Forest</h4>
              <a class="btn btn-secondary" routerLink="/randomforest"> more infos</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">

            <div class="text-center">

              <h4>Logistic Regression</h4>
              <a class="btn btn-secondary" routerLink="/logisticregression"> more infos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Support Vector Machine (SVM)</h4>
              <a class="btn btn-secondary" routerLink="/svm" > more infos</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">

              <h4>Long Short-Term Memory (LSTM)</h4>
              <a class="btn btn-secondary" routerLink="/lstm"> more infos</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Evaluation</h4>
    <p>An evaluation metric quantifies the performance of a predictive model. 
      This typically involves training a model on a dataset, using the model to make 
      predictions on a holdout dataset not used during training, then comparing the predictions 
      to the expected values in the holdout dataset.</p>
    <div class="table-responsive">
      <table class="table table-hover  table-striped">
        <thead>
          <tr class="table-dark">
            <th>Algo</th>
            <th>Accuracy</th>
            <th>Error rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              NB
            </td>
            <td>
              0
            </td>
            <td>
              0
            </td>
          </tr>
          <tr>
            <td>
              SVM
            </td>
            <td>
              0
            </td>
            <td>
              0
            </td>
          </tr>
          <tr>
            <td>
              Logictic Regression
            </td>
            <td>
0
            </td>
            <td>
0
            </td>
          </tr>
          <tr>
            <td>
              Rondom Forest
            </td>
            <td>
0
            </td>
            <td>
0
            </td>
          </tr>
          <tr>
            <td>
              LSTM
            </td>
            <td>
0
            </td>
            <td>
0
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card mb-3">
      <h4>comparation</h4>
      <app-comparisationbar></app-comparisationbar>
      <p>description comparisation  
        m ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocib
      </p>
    </div>
    <div class="">
      <h4>Topic Modeling</h4>
      <p>Topic modeling is an unsupervised machine learning technique 
        (Unsupervised learning: where data is not structured and don’t have labels) 
        that's capable of scanning a set of documents, detecting word and phrase patterns 
        within them, and automatically clustering word groups and similar expressions that best 
        characterize a set of documents </p>

    </div>
  
   </div>










</section>
<section>
  <div class="container">
    <h2>Conclusion</h2>
    <p>Lorem ipsum dolor sit amet, sit at error moderatius, ferri dolor reformidans ne quo, eos ut consul diceret. Mazim
      nullam habemus at est, pri vocibus invenire ex. Mei cetero elaboraret ex, vim et autem delenit pericula.
      Apeirian definiebas pri no, ius in ridens invidunt abhorreant, probatus omittantur te eum. Nam et dicant
      invenire.</p>
  </div>
</section>