<section class="section1">
    <div class="container">
        <div class="heading">
            <h1 class="product-name">
                Tunisian Political Analyst Facebook
            </h1>
            <p class="product-description">
                Predict a Political Speech Influence for each Tunisian Politician via Facebook
            </p>
            <div class="btns-s1">
                <a routerLink="study"class="btn btn-light rounded-pill me-2">Documentation</a>
                <a routerLink="application" class="btn btn-outline-light rounded-pill">Application</a>
            </div>
        </div>

    </div>
</section>
<section class="section2 bg-light">
    <div class="container">
        <div class="heading">
            <h1 class="h1section2">
                CRNS Sfax
            </h1>
            <p class="psection2">
                The Digital Research Centre of Sfax, was created in July 2012.
                 Its is a public institution whose mission is to conduct research 
                 and development activities in the field of information and communication 
                 technologies and promote innovation and technology transfer in this field by promoting 
                 research results, resources, and expertise. It aims to be at the forefront of technology 
                 by conducting applied research focused on innovation.
                <div class="btns-s1">
                <a href="http://www.crns.rnrt.tn/" class="btn btn-warning rounded-pill me-2 text-light">about</a>

            </div>
        </div>

    </div>
</section>


<section class="section2 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="member-img">
                            <img
                                src="assets/images/mounirzrigui.jpg">
                        </div>
                        <h5 class="text-center mt-1">Mounir Zrigui</h5>
                        <p class="text-center my-card-text">Full professor in Computer Science.Member of the UTIC Research Unit </p>
                    </div>
                </div>
            </div>
            <div class="col">
                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="member-img">
                            <img
                                src="assets/images/waelouarda.jpg">
                        </div>
                        <h5 class="text-center mt-1">Wael Ouarda</h5>
                        <p class="text-center my-card-text">An assistant professor of computer science at CRNS Sfax.Member of the Research Groups in Intelligent Machines.</p>
                    </div>
                </div>
                </div>
            
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="member-img">
                            <img
                                src="assets/images/Nafaa-Haffar.jpg">
                        </div>
                        <h5 class="text-center mt-1">Nafaa Haffar</h5>
                        <p class="text-center my-card-text"> Phd student, University of Sousse, ISITCom, and teacher at FSM
                            University of Monastir, Tunisia.</p>
                    </div>
                </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="member-img">
                        <img
                            src="assets/images/safadah.jpg">
                    </div>
                    <h5 class="text-center mt-1">Safa Dahmouni</h5>
                    <p class="text-center my-card-text">R&D Eng in CRNS,engineering student in Polytech-Monastir, University of Monastir, Tunisia.</p>
                </div>
            </div>
    </div>
        </div>

    </div>
</section>